In [1]:
#defining a function

def myintro():
    print("my name is nootan")
    print("I live in Mumbai")
    print("I am trainer")

In [2]:
#calling or invoking a function

myintro()

my name is nootan
I live in Mumbai
I am trainer

In [3]:
def hello():
    print("welcome")
print("This is outside the function")

This is outside the function

In [5]:
hello()

welcome

In [6]:
def will_not_work():
print("wrong indentation")

IndentationError: expected an indented block after function definition on line 1 (3240709008.py, line 2)

In [4]:
def f1():
    print("all right")
    if 20>10:
        print("20 is greater than 10")

f1()

all right
20 is greater than 10

In [8]:
f1()

all right
20 is greater than 10

In [9]:
def comp():
    for i in range(10):
        print("i = ",i)

In [10]:
comp()

i =  0
i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9

In [14]:
#everything in Python are objects, even functions are objects

def docu():
    """This function does something
    This function does something....
    
    """
    print("hello")

In [15]:
docu()

hello

In [16]:
docu #call function without parenthesis

In [18]:
print(docu.__doc__) #documentation output

This function does something
    This function does something....

In [15]:
af = docu #assigning function to another function
af

In [16]:
af()

hello

In [19]:
#global scope
name = "nootan"
city = "Mumbai"
def intro():
    print("My name is ",name)
    print("My city is ",city)

In [20]:
intro()

My name is  nootan
My city is  Mumbai

In [21]:
name = "neha"
city = "Rajkot"

intro()

My name is  neha
My city is  Rajkot

In [20]:
"a" + 2

TypeError: can only concatenate str (not "int") to str

In [1]:
def func_with_error():
    res = "a"+2
    print(res)

In [22]:
#when we define function, code won't be executed. so won't show error this time

In [2]:
func_with_error()

TypeError: can only concatenate str (not "int") to str

In [6]:
#parameters

def intro(name):
    print("My name is ",name)

In [7]:
intro("nootan")

My name is  nootan

In [8]:
intro("nootan","mumbai") #error - only one argument

TypeError: intro() takes 1 positional argument but 2 were given

In [28]:
def sq(x):
    print("The square of ",x," is ",x*x)

In [29]:
sq(8)

The square of  8  is  64

In [30]:
sq("nootan")

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
num=25
sq(num)

The square of  25  is  625

In [32]:
sal=1000
exp=300
def mysav(a,b):
    print("saving = ",sal-exp)

In [33]:
mysav(200,50)

saving =  700

#because we have taken sal and exp which are global variables inside the function. 
#we need to take a and b local variables inside the function to have proper value

In [30]:
sal=1000
exp=300
def mysav(a,b):
    print("saving = ",a-b)

In [31]:
mysav(200,50)

saving =  150

In [9]:
sal=1000
exp=300
def cal(sal,exp):
    print(sal-exp)
cal(200,50)

150

In [45]:
sal=1000
exp=300
def cal(sal,exp):
    g1 = globals()['sal']
    g2 = globals()['exp']
    print(g1-g2) #consider global variables - not local variables

In [47]:
cal(100)

TypeError: cal() missing 1 required positional argument: 'exp'

In [46]:
cal(500,100)

700

In [43]:
#no return value
def add(a,b):
    r = a+b

In [45]:
add(10,20) #no output

In [47]:
r = add(10,20)
print(r) #print None because no return statement in function and by default function will return 'None'

None

In [48]:
type(r)

NoneType

In [49]:
#with return value
def add(a,b):
    r = a+b
    return r

In [50]:
r = add(10,20)
print(r)

30

In [51]:
#function with list

def findMax(somelist):
    m=somelist[0]
    l=len(somelist)
    for i in range(1,l):
        if somelist[i]>m:
            m=somelist[i]
    return m

In [52]:
num=[20,5,7,30,10]
m=findMax(num)
print(m)

30

In [53]:
num.append(50)
m=findMax(num)
print(m)

50

In [54]:
el=[]
findMax(el)

IndexError: list index out of range

In [38]:
#multiple values return from function

def add_sub(x,y):
    a = x+y
    b = x-y
    return a,b

In [39]:
add_sub(20,10)

(30, 10)

In [42]:
r = add_sub(30,10)
r[1]

20

In [58]:
r1,r2 = add_sub(40,20)
print("addition = ",r1)
print("subtraction = ",r2)

addition =  60
subtraction =  20

In [59]:
r1,_=add_sub(20,10)
print(r1) #use _ if you want only one result and ignore another one

30

In [60]:
_,r2=add_sub(20,10)
print(r2)

10

In [52]:
val = 1000
def global_local():
    global val #global variable
    val += 5
    print("inside function",val)

print("outside function",val)
global_local()
print("outside function after calling function",val)

outside function 1000
inside function 1005
outside function after calling function 1005

In [53]:
val = 1000
def global_local():
    val = 5 #local variable 
    print("inside function",val)
 
print("outside function",val)
global_local()
print("outside function after calling function",val)

outside function 1000
inside function 5
outside function after calling function 1000

In [10]:
def sum(a,b,c=30):
    return a+b+c

sum(10,20)

60