In [1]:
empty_tuple=()

In [2]:
type(empty_tuple)

tuple

In [3]:
print(type(empty_tuple))

<class 'tuple'>

In [4]:
int_tuple = (1,2,3)
str_tuple = ('a','b','c')
print(int_tuple,str_tuple)

(1, 2, 3) ('a', 'b', 'c')

In [5]:
comb_tuple = int_tuple + str_tuple
comb_tuple

(1, 2, 3, 'a', 'b', 'c')

In [6]:
a = str_tuple * 3
print(a)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [7]:
mix_tuple = (1,'nootan',9.9)
mix_tuple

(1, 'nootan', 9.9)

In [8]:
t1 = 1, 'nootan', 10 #this is also tuple
t1

(1, 'nootan', 10)

In [9]:
a,b,c=t1
print(a,b,c)

1 nootan 10

In [10]:
nest_tuple = (1,2,3,(4,5,6))
nest_tuple

(1, 2, 3, (4, 5, 6))

In [11]:
nest_tuple[0]

1

In [12]:
nest_tuple[3]

(4, 5, 6)

In [13]:
nest_tuple[3][0]

4

In [14]:
t1 = ('A','C','C','E','N','T','U','R','E')
t1

('A', 'C', 'C', 'E', 'N', 'T', 'U', 'R', 'E')

In [15]:
t1[1:]

('C', 'C', 'E', 'N', 'T', 'U', 'R', 'E')

In [16]:
t1[2:4]

('C', 'E')

In [17]:
t1[::2]

('A', 'C', 'N', 'U', 'E')

In [18]:
t1[-1]

'E'

In [19]:
t1.index('E')

3

In [20]:
print('E' in t1) #check E is present in tuple

True

In [21]:
print('E' not in t1) #check E is not present in tuple

False

In [40]:
int_tuple = (1,2,3,4)
max(int_tuple)

4

In [23]:
L1 = list(int_tuple)
L1

[1, 2, 3, 4]

In [24]:
S1 = set(int_tuple)
S1

{1, 2, 3, 4}

In [25]:
int_tuple[1]=10

TypeError: 'tuple' object does not support item assignment

In [26]:
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

In [27]:
del t1

In [28]:
t1

NameError: name 't1' is not defined

In [42]:
ta = (1,2,3)
tb = ('a','b','c')
zipped = zip(ta,tb)
print(zipped)

<zip object at 0x0000025C9F6C4240>

In [30]:
result = tuple(zipped)
print(result)

((1, 'a'), (2, 'b'), (3, 'c'))

In [31]:
tx,ty = zip(*result)
print(tx)
print(ty)

(1, 2, 3)
('a', 'b', 'c')

In [32]:
#you can zip list also - every element in a list is tuple
l1 = [1,2,3,4]
t1 = ('a','b','c')
result = tuple(zip(l1,t1))
print(result)

((1, 'a'), (2, 'b'), (3, 'c'))

In [33]:
set1 = set(result)
print(set1)

{(1, 'a'), (3, 'c'), (2, 'b')}

In [34]:
#count element in a list until element is a tuple
list1 = [1,3.5,"hello",(10,20),"hii",(30,'nootan'),40]
count=0
for i in list1:
    if isinstance(i,tuple):
        break
    count=count+1
print(count)

3

In [35]:
x = ("apple", "cherry", "grapes")
print("Before updating :",x)
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print("After updating :" , x)

Before updating : ('apple', 'cherry', 'grapes')
After updating : ('apple', 'kiwi', 'grapes')

In [36]:
result = [(x**3,x**2) for x in range(1,6)]
print(result)

[(1, 1), (8, 4), (27, 9), (64, 16), (125, 25)]

In [37]:
m,*n = x
print("value of m = ",m)
print("value of n = ",n)

value of m =  apple
value of n =  ['kiwi', 'grapes']

In [38]:
fruit = ("apple", "cherry", "grapes","banana","strawberry")
fruit

('apple', 'cherry', 'grapes', 'banana', 'strawberry')

In [39]:
m,*n,p = fruit
print("value of m = ",m)
print("value of n = ",n)
print("value of p = ",p)

value of m =  apple
value of n =  ['cherry', 'grapes', 'banana']
value of p =  strawberry